@page
@model IndexModel
@{    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from VisualPath Pvt Ltd Online Training program on Azure App Service-2</h1>
    <p>For more information <a href="https://k8sengineers.com/home">, please contact the URL provided</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
</div>
